

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');


$screenWidth:800px;
@mixin tablet(){
    @media (max-width : #{$screenWidth}){
        @content;
    }
}
* {
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

*:focus {
    outline: none;
}

ul,
li {
    list-style: none;
    margin-top: 5px;
}

ul {
    margin: 0px;
    padding: 0px;

    li {
        position: relative;
        margin-left: 10px;

        &:before {
            content: '';
            position: absolute;
            height: 6px;
            width: 6px;
            background: var(--color-heading);
            left: -7px;
            top: 37%;
            border-radius: 100%;
            border: 2px solid var(--bg);
            box-shadow: 0px 0px 0px 2px var(--color-heading);

        }
    }
}

html {
    width: 100%;

    // DEFAULT THEME COLOR 
    --bg: #FEFEFE;
    --bg-panel: #f3f3f3;
    --bg-btn: #257dc0;
    --color-heading: #257dc0;
    --color-btn: #fff;
    --color-para: #333333;
    --box-shadow:  #d3d3d3;


    &.transition,
    &.transition *,
    &.transition *:before,
    &.transition *:after {
        transition: all .7s !important;
        transition-delay: 0 !important;
    }
}


html[data-theme="dark"] {
    --bg: #333333;
    --bg-panel: #666666;
    --bg-btn: #02aa96;
    --color-heading: #02aa96;
    --color-btn: #fff;
    --color-para:#fff;
    --box-shadow:  #222;
}

body {
    background: var(--bg);
    padding: 5em;

    @include tablet{
        padding:5px;
    }
}

.page {
    background: var(--bg-panel);
    margin-top: 5em;
    padding: 20px;
    border-radius: 15px;
}

.themeOptionContainer {
    background: var(--bg-panel);
    padding: 20px;
    border-radius: 15px;
    display: flex;
    flex:1 0 50%;
    .inputContainer {
        display: grid;
        grid-template-columns: 20em 1fr;
        margin-bottom: 10px;
        
        label {
            font-size: 1.1em !important;
        }
    }
    #themeUpdate{
        flex:0 0 50%;
    }
.togglerContainer{
    text-align: center;
    width:100%;

}
    @include tablet{
        display: block;
        flex:none;
        .inputContainer{
            grid-template-columns: 1fr auto;
        }
        .togglerContainer{
            margin-top: 30px;
        }
    }




}

input[type="color"] {
    appearance: none !important;
    height: 2em;
    width: 2em;
    padding: 0;
    border: none;
    background: transparent;
    display: block;
    border-radius: 100%;
    overflow: hidden;
}

.btn {
    appearance: none;
    border: none;
    background: var(--bg-btn);
    color: var(--color-btn);
    padding: 10px 13px;
    text-transform: capitalize;
    font-weight: bold;
    cursor: pointer;
    transition: .3s ease;

    &:hover {
        transform: scale(1.1)
    }

}



.header {
    color: var(--color-heading);
    font-weight: bold;
}

.para {
    color: var(--color-para)
}


.landing {
    display:flex;
    justify-content: center;
    align-items: center;

    .header {
        font-size: 50px;
        margin-top: 70px;
    }

    img {
        height: 100%;
        width: 100%;
        max-height: 550px;
    }

    .para {       
        display: block;
        width: 100%;
        margin-top: 20px;
    }

    .buttonContainer {
        margin-top: 20px;
        display: inline;

        .btn {
            margin-top: 30px;
            padding: 20px 25px;
            font-size: 18px;
        }
    }

    @include tablet{
        display:block;
        .header {
            font-size: 30px;
          
        }
        .para {       
            text-align: justify;
            font-size: 16px;
        }
    }
}

.carding {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    .card {
        width: calc(25% - 20px);
        margin: 5px;
        min-width: 250px;
        background-color: var(--bg);
        border-radius: 15px;
        padding: 15px;
        transition: .3s;
        box-shadow: 1px 1px 5px 0px var( --box-shadow);
        flex-grow: 1;
        max-width: 350px;
        cursor: pointer;

        &:hover {
            transform: scale(1.05) translate(0px, -10px);
            box-shadow: 2px 2px 7px 2px var( --box-shadow);
        }

        box-sizing: border-box;

        img {
            height: 65px;
            margin: 15px 10px;
        }

        .header {
            text-transform: uppercase;
            font-weight: bolder;
            padding: 0px 10px;
        }

        .para {
            text-align: justify;
            padding: 10px
        }
    }
}


.customCheckbox {
    appearance: none;
    height: 1.6em;
    width: 3.5em;
    background: #d3d3d3;
    border-radius: 1.6em;
    margin-right: 20px;
    cursor: pointer;
    position: relative;
    transition: .3s linear;

    &:focus {
        outline: none;
    }

    &:after {
        content: "";
        height: 1.6em;
        width: 1.6em;
        border-radius: 1.6em;
        background: var(--bg);
        position: absolute;
        top: 0;
        left: 0px;
        box-shadow: 0px 0px 2px 0px var(--bg);
        transition: .3s linear;
        transform-origin: left;

    }

    &:checked:after {
        transition: .3s linear;
        left: 100%;
        transform: translate(-1.6em, 0em);
        box-shadow: 0px 0px 2px 0px var(--color-heading);
        background-color: var(--color-heading);
    }
}

.ThemeHeader{
    text-align: center;
    margin-bottom: 20px;
    h1{
        font-weight: bold;
        text-transform: uppercase;
        font-size: 50px;
    
    }
}